@use '../../../styles/assets/variables.scss' as *;
@use '../../../styles/assets/fontMixins.scss' as *;
@use '../../../styles/assets/displayMixins.scss' as *;


.welcome {
  padding: 2rem 1rem 1rem 1rem;

  @include tabletSm {
     padding: 3rem 1.5rem 0.5rem 1.5rem;
  }


  &__content {
    max-width: 600px;
    margin: 0 auto;
    
  }

  &__title {
    @include section-header;
    padding-bottom: 1rem;
    font-weight: bold;

    @include tabletSm {
      
      
    }
  }

  &__msg {
    @include body-main;
    padding-bottom: 1rem;

    @include tabletSm {
      @include heading-text;
      padding-bottom: 1.5rem;
    }

  }

  &__item {
    padding: 1rem;
    text-align: center;
    cursor: pointer;

    @include tabletSm {
      padding: 1rem 1rem 1.5rem 1rem;
    }
  }
  
  &__item_text {
    @include mobile-button-text;
    color: white;
    line-height: 1.5rem;
    font-weight: 600;
    padding-bottom: 1rem;
  }

}
