@use '../../../styles/assets/variables.scss' as *;
@use '../../../styles/assets/fontMixins.scss' as *;
@use '../../../styles/assets/displayMixins.scss' as *;

.header {

  &__nav {
    display: flex;
    justify-content: space-between;
  }

  &__nav_icons {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__nav_text {
    color: $shopify-dg;
    @include mobile-body-text;
  }
}