$shopify-lg : #96BE49;
$shopify-mg : #64943E;
$shopify-mdg: #02604E;
$shopify-dg : #004C3F;
$polaris-yellow: #F6C058;
$polaris-pink: #FF9D72;

$black: #42474C;
$headingBlack: #202023;

$mobile: 496px;
$tablet-one:650px;
$tablet-two: 768px;
$midpoint: 900px;
$desktop: 1280px;

