@use '../../../styles/assets/variables.scss' as *;
@use '../../../styles/assets/fontMixins.scss' as *;
@use '../../../styles/assets/displayMixins.scss' as *;


.swiper {

  height:fit-content;
  
  &__header {
    @include mobile-displayMedium;
    padding: 2rem 0.5rem 0.5rem  0.5rem;
  }

  &__container {
    max-width: 500px;
    margin: 0 auto;
  }
}