@use '../../../styles/assets/variables.scss' as *;
@use '../../../styles/assets/fontMixins.scss' as *;
@use '../../../styles/assets/displayMixins.scss' as *;

.prompt {
  display: flex;
  flex-direction: column;  
  margin: 0.5rem 0;
  

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  &__header_text {
    
    @include mobile-displayMedium;

  }

  &__textfield {
    
  }

  &__button {
    max-width: 100px;
    background-color: $shopify-mdg !important;
    align-self: flex-end;
  }



}