@use '../../../styles/assets/variables.scss' as *;
@use '../../../styles/assets/fontMixins.scss' as *;
@use '../../../styles/assets/displayMixins.scss' as *;

.prompt {
  display: flex;
  flex-direction: column;  
  max-width: 600px;
  margin: 0rem auto;
  padding: 0 1rem 1.5rem 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
  }

  &__header_text {
    color:$shopify-dg;
    @include mobile-displayMedium;
    font-weight: 600;

  }

  &__engine {
    @include mobile-body-text;
    font-weight: bold;
    color: $shopify-dg;
    text-align: center;
    padding: 1rem 0 0.5rem 0;
  }

  &__button {
    max-width: 100px;
    background-color: $shopify-mdg !important;
    align-self: flex-end;
  }



}