@use '../../../styles/assets/variables.scss' as *;
@use '../../../styles/assets/fontMixins.scss' as *;
@use '../../../styles/assets/displayMixins.scss' as *;


.travel {

  padding: 0rem 1rem 0rem 1rem;
  max-width: 600px;
  margin: 0 auto;

  @include tabletSm {
    padding: 0rem 1.5rem 0rem 1.5rem;
  }

  &__title {
    @include section-header;
    padding-bottom: 1rem;
    

    @include tabletSm {
    
      font-weight: 700;
    }
  }
  
  &__subtitle {
    
    @include body-main;

    @include tabletSm {
      
    }
  }

  &__note {
    padding: 0.5rem 0 0.5rem 0;
    @include body-subtitle;

    @include tabletSm {
    }
  }

  &__form {
    margin: 1.5rem 0;
  }

  &__form_random {    
    display: flex;
    cursor: pointer;
    justify-content: center;
    max-width: 600px;
    padding: 2rem 0.5rem 0 0.5rem;
    gap: 1rem;
    align-items: center;
  }

  &__form_text {
    @include mobile-body-text;
    color: $shopify-dg;
    font-weight: 600;
  }

  &__results {
    padding: 1rem 0 0rem 0;

  }

  &__results_title {
    @include mobile-heading-text;

    @include tabletSm {
      padding: 1rem 0 1.5rem 0;
      @include displaySmall;
    }
  }

  &__loading {
    text-align: center;
    color: green;
  }
}