@use '../styles/assets/fontMixins.scss' as *;
@use '../styles/assets/displayMixins.scss' as *;
@use '../styles/assets/variables.scss' as *;

.home {

  &__content {
    margin: 1.5rem 0;
    padding: 0 0.5rem;
  }


  &__title {
    @include mobile-displayMedium;
    font-weight: 600;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  }

  &__engine {
    padding: 1rem 0rem 0.5rem 0rem;
    text-align: center;
    @include mobile-displaySmall;
  }

  &__form {
    padding: 0.5rem 0.5rem;
  }

  &__response {
    padding: 0.5rem;
  }

}